@model ProjetoColaborativo.Models.Entidades.SessaoColaborativa
@{
    Layout = null;
    ViewBag.Title = "ShowSession";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="/Content/paineis.css" rel="stylesheet" />
</head>
<body>

    <canvas id="draw-canvas"></canvas>

    <div id="left-panel">
        <div class="bg-overlay"></div>
        <div class="panel-trigger"></div>
        <div class="panel-content">

            <input type="button" value="" class="btn btn-default button-toolbar icon-rect">
            <input type="button" value="" class="btn btn-default button-toolbar icon-elipse">
            <input type="button" value="" class="btn btn-default button-toolbar icon-pencil">
            <input type="button" value="" class="btn btn-default button-toolbar icon-text">
            <input type="button" value="" class="btn btn-default button-toolbar icon-pin">
            <input type="button" value="" class="btn btn-default button-toolbar icon-youtube">
            <input type="button" value="" class="btn btn-default button-toolbar icon-speaker">
        </div>
    </div>

    <div id="right-panel">
        <div class="bg-overlay"></div>
        <div class="panel-trigger"></div>
        <div class="panel-content">

            <input type="button" value="" class="btn btn-default button-toolbar icon-rect">
            <input type="button" value="" class="btn btn-default button-toolbar icon-elipse">
            <input type="button" value="" class="btn btn-default button-toolbar icon-pencil">
            <input type="button" value="" class="btn btn-default button-toolbar icon-text">
            <input type="button" value="" class="btn btn-default button-toolbar icon-pin">
            <input type="button" value="" class="btn btn-default button-toolbar icon-youtube">
            <input type="button" value="" class="btn btn-default button-toolbar icon-speaker">
        </div>
    </div>

    <div id="bottom-panel">
        <div class="bg-overlay"></div>
        <div class="panel-content">

            <div class="miniaturas">
                <ul id="sortable">

                    @foreach (var os in @Model.ObjetosDaSessao)
                    {
                        <li data-url="@Url.Action("MostrarSessao", "Vimaps", new { id = @Model.Handle, objetoid = os.Handle })" class="miniatura @(ViewBag.ObjectId == os.Handle ? "selecionado" : "")">
                            <img src="@os.UrlImagem" />
                        </li>
                    }

                </ul>
            </div>

        </div>
    </div>

    <div class="toolbar">
        <div class="bg"></div>
        <div class="drag">Ferramentas</div>
        <div class="tools">
            <input type="button" value="" class="btn btn-default button-toolbar icon-rect" />
            <input type="button" value="" class="btn btn-default button-toolbar icon-elipse" />
            <input type="button" value="" class="btn btn-default button-toolbar icon-pencil" />
            <input type="button" value="" class="btn btn-default button-toolbar icon-text" />
            <input type="button" value="" class="btn btn-default button-toolbar icon-pin" />
            <input type="button" value="" class="btn btn-default button-toolbar icon-youtube" />
            <input type="button" value="" class="btn btn-default button-toolbar icon-speaker" />
            <div class="clear"></div>
        </div>
    </div>

    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <script src="/Scripts/jquery-ui.min.js"></script>
    <script src="/Scripts/uuid.js"></script>
    <script src="/Scripts/fabric.min.js"></script>
    <script src="/Scripts/paineis.js"></script>
    <script>

    $("#left-panel .panel-trigger").on("mouseenter", function () {
        $(this).parent().animate({ left: 0 }, 100);
    });

    $("#left-panel").on("mouseleave", function () {
        $(this).animate({ left: -42 }, 100);
    });

    //$("#right-panel .panel-trigger").on("mouseenter", function() {
    //    $(this).parent().animate({ right: 0 }, 100);
    //});

    //$("#right-panel").on("mouseleave", function() {
    //    $(this).animate({ right: -42 }, 100);
    //});

    $("#bottom-panel").on("mouseenter", function () {
        $(this).animate({ bottom: 0 }, 100);
    });

    $("#bottom-panel").on("mouseleave", function () {
        $(this).animate({ bottom: $("#bottom-panel").height() * -1 + 20 });
    });

    (function () {

        @if (ViewBag.ObjectId != null)
            {
                <text>
        setCanvasBackground('@Model.ObjetosDaSessao.FirstOrDefault(x => x.Handle == ViewBag.ObjectId).UrlImagem');
        </text>
            }

        $("#left-panel").delay(1000).animate({ left: $("#left-panel").width() * -1 + 20 });
        $("#bottom-panel").delay(1000).animate({ bottom: $("#bottom-panel").height() * -1 + 20 });

        $(".toolbar").draggable({ handle: ".drag" });

        $("#sortable").sortable();
        $("#sortable").disableSelection();

        $(".miniatura").on("click", function () {
            window.location.href = $(this).attr("data-url");
            //$(".miniatura").removeClass("selecionado");
            //$(this).addClass("selecionado");
        });

    })();

    @if (ViewBag.LerElementos != null)
    {
        <text>
        var json = @Html.Raw(ViewBag.LerElementos);

        canvas1.loadFromJSON(json, canvas1.renderAll.bind(canvas1), function (o, object) {
            fabric.log(o, object);
        });
        </text>
    }




    </script>

</body>
</html>



