@using System
@using System.Linq
@using Microsoft.AspNet.Identity
@using ProjetoColaborativo.Models.Entidades
@model ProjetoColaborativo.Models.Entidades.SessaoColaborativa
@{
    Layout = null;
    ViewBag.Title = "ShowSession";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/jquery-ui.min.css" rel="stylesheet" />
    <link href="/Content/slick.css" rel="stylesheet" />
    <link href="/Content/slick-theme.css" rel="stylesheet" />
    <link href="/Content/paineis.css" rel="stylesheet"/>

</head>
<body style="height: 100%">

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @* @Html.ActionLink("Projeto Colaborativo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" }) *@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Sessions", "Index", "Home")</li>
                    <li style="display: none" id="btnMinimizar"><a href="javascript: parent.postMessage('fechar<|>yo', '*');" id="minimizar-colaborativo-master">Minimize SisColMet</a></li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
                    @Html.Partial("_LoginPartial")
                <div id="videoConferenceConteiner">
                    <div id="controls">
                        <input id="bHangout" type="button" value="" class="button-toolbar icon-hangout-on" />
                    </div>
                    <video id="localVideo"></video>
                    <div id="remoteVideos"></div>
                </div>
            </div>
        </div>
    </div>

    <iframe src="@ViewBag.CaminhoIframe" width="100%" height="100%" frameborder="0"></iframe>

    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <script src="/Scripts/jquery-ui.min.js"></script>
    <script src="https://simplewebrtc.com/latest-v2.js"></script>

<script>

    var webrtc = null;
    var bc = false;

    (function() {
        $("iframe").attr("height", ($(window).height() - $(".navbar").height()) + "px");

        webrtc = new SimpleWebRTC({
            localVideoEl: 'localVideo',
            remoteVideosEl: 'remoteVideos',
            autoRequestMedia: false
        });

        $("#bHangout").on("click", function () {

            $(this).removeClass("icon-hangout-on");
            $(this).removeClass("icon-hangout-off");

            if (bc) {
                webrtc.stopLocalVideo();
                webrtc.leaveRoom('@Model.Handle');
                $(this).addClass("icon-hangout-on");
            } else {
                webrtc.startLocalVideo();
                webrtc.joinRoom('@Model.Handle');
                $(this).addClass("icon-hangout-off");
            }

            bc = !bc;
        });

    })();
</script>

</body>
</html>
