@model ProjetoColaborativo.ViewModels.Account.LoginViewModel

@{
    Layout = null;
    ViewBag.Title = "Login";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link href="~/Content/signin.css" rel="stylesheet" />
</head>
<body>

<div class="container" style="width: 391px;">

    <form class="form-signin" method="POST" action="@Url.Action("Login", "Account", new {ViewBag.ReturnUrl})">
        <h3>Projeto Colaborativo</h3>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <h2 class="form-signin-heading">Login</h2>

        <div class="form-group">
            @Html.TextBoxFor(m => m.Login, new {@class = "form-control", placeholder = "Login", required = "required", autofocus = "autofocus"})
            @Html.ValidationMessageFor(m => m.Login)
        </div>

        <div class="form-group">
            @Html.PasswordFor(m => m.Senha, new {@class = "form-control", placeholder = "Senha", required = "required"})
            @Html.ValidationMessageFor(m => m.Senha)
        </div>

        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
            <button class="btn btn-lg btn-default btn-block" type="button" id="btnCancelar" style="display: none">Cancelar</button>
        </div>
    </form>
    @Html.ActionLink("Carga usuário adm", "CargaUsuarioAdm")
    
</div>
    
    <script>
        parent.postMessage("fechar<|>yo", "*");

        if (window.self !== window.top) { // está no iframe
            $("#btnCancelar").show();
            $("#btnCancelar").on("click", function() {
                parent.postMessage("fechar<|>yo", "*");
            });
        }
    </script>
    
</body>
</html>
