@using NHibernate.Linq
@using ProjetoColaborativo.Models.Entidades
@using ProjetoColaborativo.Models.Entidades.Mappings
@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="margin-top: 20px">
    <div class="col-md-6">
        <h1>Minhas sessões colaborativas</h1>
    </div>
    <div class="col-md-6" style="margin-top: 20px;">

        @using (Html.BeginForm("CriarSessaoColaborativa", "Vimaps", FormMethod.Post))
        {<div class="input-group">
             <input type="text" name="descricao" id="descricao" class="form-control" placeholder="Nome da sessão colaborativa" required>
             <span class="input-group-btn">
                <input type="submit" class="btn btn-primary btn-block" value="Criar Sessão Colaborativa" />
            </span>
         </div>
        }

    </div>
</div>



@if (((NhQueryable<SessaoColaborativa>)ViewBag.MinhasSessoes).Any())
{
    foreach (SessaoColaborativa sessao in ViewBag.MinhasSessoes)
    {
        <div class="card-sessao">
            <div class="bg-warning">

                <div class="header">
                    <a class="title">
                        <span class="caret"></span>
                        @sessao.Descricao
                    </a><br />
                    <span class="dados">
                        criada em @sessao.DataCriacao • @sessao.ObjetosDaSessao.Count objetos • @sessao.UsuariosDaSessao.Count participantes
                    </span>
                </div>

                <div class="miniaturas session-objects">
                    @if (sessao.ObjetosDaSessao.Count > 0)
                    {
                        <div class="list-scroll">
                            @foreach (var os in sessao.ObjetosDaSessao.Where(x => x.Handle != ViewBag.NovoObjeto).OrderBy(x => x.Ordem))
                            {
                                <a class="session-title" href="@Url.Action("MostrarSessao", "Vimaps", new {id = sessao.Handle, objetoid = os.Handle})">
                                    <div data-id="@os.Handle" data-url="" class="miniatura">
                                        <img data-createdtime="@os.DataCriacao.ToString()" data-authorname="@os.Usuario.Nome" data-tooltip="" src="@string.Format("{0}?{1}", os.UrlMiniatura, DateTime.Now.Ticks)"/>
                                    </div>
                                </a>
                            }
                        </div>
                    }
                    else
                    {
                        <div style="margin: auto;"> Esta sessão ainda não possui nenhum objeto. Para adicionar objetos, acesso o Vimaps. </div>
                    }
                </div>

            </div>
        </div>
    }
}
else
{
    <div> Você não possui nenhuma sessão. </div>
}




<h1>Sessões compartilhadas comigo</h1>

@if (((NhQueryable<SessaoColaborativa>)ViewBag.SessoesQueParticipo).Any())
{
    foreach (SessaoColaborativa sessao in ViewBag.SessoesQueParticipo)
    {
        <div class="card-sessao">
            <div class="bg-warning">

                <div class="header">
                    <a class="title">
                        <span class="caret"></span>
                        @sessao.Descricao
                    </a><br />
                    <span class="dados">
                        criada em @sessao.DataCriacao • @sessao.ObjetosDaSessao.Count objetos • @sessao.UsuariosDaSessao.Count participantes
                    </span>
                </div>

                <div class="miniaturas session-objects">
                    @if (sessao.ObjetosDaSessao.Count > 0)
                    {
                        <div class="list-scroll">
                            @foreach (var os in sessao.ObjetosDaSessao.Where(x => x.Handle != ViewBag.NovoObjeto).OrderBy(x => x.Ordem))
                            {
                                <a class="session-title" href="@Url.Action("MostrarSessao", "Vimaps", new {id = sessao.Handle, objetoid = os.Handle})">
                                    <div data-id="@os.Handle" data-url="" class="miniatura">
                                        <img data-createdtime="@os.DataCriacao.ToString()" data-authorname="@os.Usuario.Nome" data-tooltip="" src="@string.Format("{0}?{1}", os.UrlMiniatura, DateTime.Now.Ticks)" />
                                    </div>
                                </a>
                            }
                        </div>
                    }
                    else
                    {
                        <div style="margin: auto;"> Esta sessão ainda não possui nenhum objeto. Para adicionar objetos, acesso o Vimaps. </div>
                    }
                </div>

            </div>
        </div>
    }
}
else
{
    <div> Você não possui nenhuma sessão compartilhada. </div>
}

@section styles{
    <link href="/Content/slick.css" rel="stylesheet" />
    <link href="/Content/slick-theme.css" rel="stylesheet" />
}

@section scripts{
    <script src="/Scripts/slick.min.js"></script>

    <script>
        $('.list-scroll').slick({
            slidesToShow: 5,
            slidesToScroll: 5,
            infinite: false
        });
        $(".session-objects").slideUp();

        $(".card-sessao .header").on("click", function (e) {
            var a = $(this);
            $(".session-objects").slideUp();

            if (!a.siblings(".session-objects").is(":visible"))
                a.siblings(".session-objects").slideDown();
        });
    </script>

}
